#username {
    color: green;
    font-size: 12px;
    font-style: italic;
}
html {
    background-color:palegreen;
}
#btn {
    background-color: rgb(240, 183, 77);
}

#reset {
    background-color: rgb(211, 35, 35);
}
.name {
    font-size: 30px;
    color: blueviolet;
    text-align: center;
    
}
#output {
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}