html {
    width: 900;
    margin: 0px;
    margin-top: 0px;
}

header {
    margin-top: 0;
    background-image: url(///Users/seymourscott/DC/HTML_101/DgtlCrfts/img/atl.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;   
   
    
    
}

header li {
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    margin-right: 30px;
    color: white;
    

    
    
}

header li a {
    color: rgb(167, 164, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding: 20px 0px 10px 0px;
  
    

}
.head-text {
    font-size: 24px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 300;  
    text-align: center;

}
h1 {
    font-size: 56px;
    font-weight: 100;
}
.turnkey {
    color: rgb(182, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}
span.image {
    text-align: center;
    
}
body {
    text-align: center;
    display: inline;
    background-color: rgb(226, 226, 226);
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-size: 14;
}
.line  {
        text-align: center;
        font-size: 32px;
        color: rgb(66, 66, 66);
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 40px;
}
.pieces  {
    
    text-align: center;
    align-content: center;
    padding: 10px 40px;
}
.pieces li {
    list-style: none;
    display: inline;
}
.symbol {
    text-decoration: none;
    list-style: none;
    
    
}
.symbol li {
    text-decoration: none;
    list-style: none;
    
}

.hashtag li {
    text-decoration: none;
    list-style: none;
   
}

.moolah {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.moolah li {
    text-decoration: none;
    list-style: none;
   
}

footer {
    background: #555;
      
        color: gray;
}
footer li {
        background: #555;
      
        color: gray;
        text-decoration: none;
       
        Margin-left: 0;
        list-style-type: none;
        border: #555;
        display: inline;
        text-align: center;

}
footer li a {
    color: rgb(190, 186, 186);
    
    text-decoration: none;
    padding: 10px 20px;
    padding-top: 20;

}
.copyright {
    text-align: center;
  
    font-size: 12px;
    color: #888;
    padding: 30;
}